In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("evaluated_pop.csv")
df.head()

,compound_id,smiles,latent,cost,parent1_id,parent2_id
0,247.0,Cc1c(C(=O)N2CCCC2)nnn1-c1nonc1N,[ 0.18864822 -0.03183688 0.15823466 0.233075...,-3.391832,NaN,NaN
1,422.0,CC(C)(C)N1C(=O)NC2C1NC(=O)N2C(C)(C)C,[ 0.24929404 -0.05249286 0.2045707 0.295348...,-4.813596,NaN,NaN
2,375.0,COC(=O)C1=C(C)Nc2nnnn2C1c1ccccc1OC,[ 0.15295324 0.10825403 0.11394034 0.086209...,-3.061101,NaN,NaN
3,355.0,c1nc(N2CCOCC2)c2c3c(sc2n1)CCCCC3,[ 0.48341838 -0.12385084 0.0898628 0.101616...,-2.897044,NaN,NaN
4,282.0,CN1C(=O)CN(C(=O)OC(C)(C)C)C1C(C)(C)C,[ 2.5140443e-01 3.7131719e-02 7.0717551e-02 ...,-2.321095,NaN,NaN

In [7]:
df['smiles'].isna().sum()

220

## Testing out idea for new encoding methods in generative_network.py for LC JTVAE

In [ ]:
df = df.iloc[:5]
df.head(10)

In [ ]:
l = [True, True, True, False, False]
df = df.iloc[l]
df.head(10)

In [14]:
latent = ['1', '2', '3', '', '']
df['latent'] = latent

df.head()

                                        smiles latent
0       CC1C2CCC(C2)C1CN(CCO)C(=O)c1ccc(Cl)cc1      1
1  COc1ccc(-c2cc(=O)c3c(O)c(OC)c(OC)cc3o2)cc1O      2
2      CCOC(=O)c1ncn2c1CN(C)C(=O)c1cc(F)ccc1-2      3
3                Clc1ccccc1-c1nc(-c2ccncc2)no1
4      CC(C)(Oc1ccc(Cl)cc1)C(=O)OCc1cccc(CO)n1

In [38]:
list(df['smiles'].loc[df['latent'].isna()])

['CC1C2CCC(C2)C1CN(CCO)C(=O)c1ccc(Cl)cc1',
 'COc1ccc(-c2cc(=O)c3c(O)c(OC)c(OC)cc3o2)cc1O',
 'CCOC(=O)c1ncn2c1CN(C)C(=O)c1cc(F)ccc1-2',
 'Clc1ccccc1-c1nc(-c2ccncc2)no1',
 'CC(C)(Oc1ccc(Cl)cc1)C(=O)OCc1cccc(CO)n1']

In [39]:
smiles = ['CC1C2CCC(C2)C1CN(CCO)C(=O)c1ccc(Cl)cc1', 'Clc1ccccc1-c1nc(-c2ccncc2)no1']
latent = ['a', 'b']
for s, l in zip(smiles, latent):
    df['latent'].loc[df['smiles'] == s] = l

df.head(10)

   compound_id                                       smiles latent
0            0       CC1C2CCC(C2)C1CN(CCO)C(=O)c1ccc(Cl)cc1      a
1            1  COc1ccc(-c2cc(=O)c3c(O)c(OC)c(OC)cc3o2)cc1O    NaN
2            2      CCOC(=O)c1ncn2c1CN(C)C(=O)c1cc(F)ccc1-2    NaN
3            3                Clc1ccccc1-c1nc(-c2ccncc2)no1      b
4            4      CC(C)(Oc1ccc(Cl)cc1)C(=O)OCc1cccc(CO)n1    NaN

In [21]:
df

['a', 'b']