In [1]:
import pandas as pd

In [4]:
df = pd.read_csv("evaluated_pop.csv")
df.head()

,compound_id,smiles,latent,cost,parent1_id,parent2_id
0,376.0,COC(=O)C1=C(C)Nc2nnnn2C1c1cccc(OC)c1OC,[-0.4846851 0.91679513 -0.72066045 0.388779...,-3.218088,NaN,NaN
1,422.0,CC(C)(C)N1C(=O)NC2C1NC(=O)N2C(C)(C)C,[-0.7855216 0.27154928 -0.5038816 -1.635248...,-4.813596,NaN,NaN
2,389.0,COC(=O)C1=C(C)NC(=O)NC1c1ccc(OCC(N)=O)cc1,[-0.90911627 0.66899997 -0.80562305 -0.103465...,-3.032058,NaN,NaN
3,342.0,Cn1c(=O)c2c(nc(N3CCCC3)n2CC(O)CO)n(C)c1=O,[-1.68034506e+00 8.07151675e-01 1.43213892e+...,-5.676623,NaN,NaN
4,14.0,C=C1C(CO)C(O)CC1n1cnc2c(=O)[nH]c(N)nc21,[-6.05822563e-01 -6.84394062e-01 8.55886340e-...,-7.074240,NaN,NaN

In [3]:
df['smiles'].isna().sum()

226

In [5]:
df.shape

(358, 6)

In [14]:
og_sm = df['smiles'].tolist()
new_sm = df['new_smiles'].tolist()

#len(og_sm) == len(new_sm)
count = 0
for i in range(len(og_sm)):
    if og_sm[i] == new_sm[i]:
        pass
    elif og_sm[i] in new_sm:
        print("hmm")
    else:
        #print(i)
        count += 1

print("Number of smiles incorrectly decoded: ", count, " Reconstruction error: ", 100*(count / (len(og_sm))), "%")

Number of smiles incorrectly decoded:  64  Reconstruction error:  12.8 %

## Testing out idea for new encoding methods in generative_network.py for LC JTVAE

In [ ]:
df = df.iloc[:5]
df.head(10)

In [ ]:
l = [True, True, True, False, False]
df = df.iloc[l]
df.head(10)

In [14]:
latent = ['1', '2', '3', '', '']
df['latent'] = latent

df.head()

                                        smiles latent
0       CC1C2CCC(C2)C1CN(CCO)C(=O)c1ccc(Cl)cc1      1
1  COc1ccc(-c2cc(=O)c3c(O)c(OC)c(OC)cc3o2)cc1O      2
2      CCOC(=O)c1ncn2c1CN(C)C(=O)c1cc(F)ccc1-2      3
3                Clc1ccccc1-c1nc(-c2ccncc2)no1
4      CC(C)(Oc1ccc(Cl)cc1)C(=O)OCc1cccc(CO)n1

In [38]:
list(df['smiles'].loc[df['latent'].isna()])

['CC1C2CCC(C2)C1CN(CCO)C(=O)c1ccc(Cl)cc1',
 'COc1ccc(-c2cc(=O)c3c(O)c(OC)c(OC)cc3o2)cc1O',
 'CCOC(=O)c1ncn2c1CN(C)C(=O)c1cc(F)ccc1-2',
 'Clc1ccccc1-c1nc(-c2ccncc2)no1',
 'CC(C)(Oc1ccc(Cl)cc1)C(=O)OCc1cccc(CO)n1']

In [39]:
smiles = ['CC1C2CCC(C2)C1CN(CCO)C(=O)c1ccc(Cl)cc1', 'Clc1ccccc1-c1nc(-c2ccncc2)no1']
latent = ['a', 'b']
for s, l in zip(smiles, latent):
    df['latent'].loc[df['smiles'] == s] = l

df.head(10)

   compound_id                                       smiles latent
0            0       CC1C2CCC(C2)C1CN(CCO)C(=O)c1ccc(Cl)cc1      a
1            1  COc1ccc(-c2cc(=O)c3c(O)c(OC)c(OC)cc3o2)cc1O    NaN
2            2      CCOC(=O)c1ncn2c1CN(C)C(=O)c1cc(F)ccc1-2    NaN
3            3                Clc1ccccc1-c1nc(-c2ccncc2)no1      b
4            4      CC(C)(Oc1ccc(Cl)cc1)C(=O)OCc1cccc(CO)n1    NaN

In [21]:
df

['a', 'b']

In [4]:
a = pd.DataFrame()
a['1'] = [1,2,3,4,5,6]
a['2'] = [10,11,12,13,14,15]

b = pd.DataFrame()
b['1'] = [1,2,3,7,8,9]
b['2'] = [16,17,18,19,20,21]

In [10]:
pd.concat([a, b]).drop_duplicates(subset='1', ignore_index=True)

   1   2
0  1  10
1  2  11
2  3  12
3  4  13
4  5  14
5  6  15
6  7  19
7  8  20
8  9  21